
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --color-neutral-carbon-100: #2F2F2F;
    --color-neutral-carbon-90: #444;
    --color-neutral-carbon-80: #6A6A6A;
    --color-neutral-carbon-70: #6E6E6E;
    --color-neutral-carbon-60: #828282;
    --color-neutral-carbon-50: #979797;
    --color-neutral-carbon-40: #ACACAC;
    --color-neutral-carbon-30: #C0C0C0;
    --color-neutral-carbon-20: #D5D5D5;
    --color-neutral-carbon-10: #EAEAEA;
    --color-neutral-cream-100: #FFFCF1;
    --color-brand-primary-100: #846DED;
    --color-brand-primary-80: #9D8AF1;
    --color-brand-primary-60: #B5A7F4;
    --color-brand-primary-40: #CEC5F8;
    --color-brand-primary-20: #E6E2FB;
    --color-brand-primary-10: #F3F0FD;
    --color-brand-secondary-100: #ECFF5C;
    --color-brand-secondary-80: #F0FF7D;
    --color-brand-secondary-60: #F4FF9D;
    --color-brand-secondary-40: #F7FFBE;
    --color-brand-secondary-20: #FBFFDE;
    --color-brand-tertiary-100: #F7543E;
    --color-brand-tertiary-80: #F87665;
    --color-brand-tertiary-60: #FA998B;
    --color-brand-tertiary-40: #FCBBB2;
    --color-brand-tertiary-20: #FDDDD8;
    --color-secondary-aquamarine-100: #59FFCF;
    --color-secondary-aquamarine-60: #9BFFE2;
    --color-secondary-jade-green-100: #16AA75;
    --color-secondary-jade-green-60: #73CCAC;
    --color-feedback-positive-100: #52A5FF;
    --color-feedback-positive-60: #97C9FF;
    --color-feedback-negative-100: #FD618C;
    --color-feedback-negative-40: #FEA0BA;
    --color-neutral-white-100: #FFF;
    --padding-spacing-40: 40px;

    --font-display: "Bricolage Grotesque";
    --font-body: "Plus Jakarta Sans";
    --padding-3xl: 96px;
    --font-size-2xl: 80px;
    --font-size-lg: 48px;
    --font-size-sm: 36px;
    --font-size-xs: 20px;
    --font-size-2xs: 16px;
    --font-size-3xs: 14px;
    --valeurs-20px: 20px;
    --padding-spacing-16: 16px;
    --padding-spacing-20: 20px;
    --padding-spacing-24: 24px;
    --corner-radius-8: 8px;
    --padding-padding-12px: 12px;
    --padding-padding-14px: 14px;
    --padding-padding-48px: 48px;
    --radius-radius-sm-4x: 8px;
    --stroke-stroke-sm: 1px;
    --padding-spacing-12: 12px;
    --values-10px-75-pt: 10px;
    --font-size-md: 36px;
    --padding-spacing-36: 36px;

}

body {
    background-color: var(--color-neutral-cream-100);
}

.blog-section {
    max-width: 647px;
    overflow-x: hidden;
    margin-bottom: 80px;
}

.blog-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--padding-spacing-24);
    margin-bottom: 60px;
}

.blog-title {
    color: var(--color-neutral-carbon-100);
    font-family: var(--font-body), sans-serif;
    font-size: var(--font-size-2xs);
    font-weight: 600;
    text-transform: uppercase;
}

.blog-subtitle {
    color: var(--color-neutral-carbon-100);
    font-family: var(--font-display), sans-serif;
    font-size: var(--font-size-sm);
    font-weight: 600;
}

.view-all-button {
    border-radius: var(--corner-radius-8);
    border: 2px solid var(--color-neutral-carbon-100);
    display: flex;
    padding: var(--padding-padding-12px) var(--padding-spacing-16);
    justify-content: center;
    align-items: center;
    gap: var(--padding-spacing-20);
}

.view-all-button span {
    color: var(--color-neutral-carbon-100);
    font-family: var(--font-body), sans-serif;
    font-size: var(--font-size-2xs);
    font-weight: 700;
}

.articles-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.article {
    flex: 0 0 auto;
    width: 299px;
    margin-right: 32px;
    scroll-snap-align: start;
}

.article img {
    width: 299px;
    height: 228px;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.article-text {
    color: var(--color-neutral-carbon-100);
    font-family: var(--font-body), sans-serif;
    font-size: var(--font-size-3xs);
    font-weight: 400;
}

.read-more {
    display: flex;
    align-items: center;
    gap: var(--padding-spacing-20);
}

.image {
    border-radius: 16px;
    height: 228px;
    width: 100%;
    object-fit: cover;
}

.read-more span {
    color: var(--color-neutral-carbon-100);
    font-family: var(--font-body), sans-serif;
    font-size: var(--font-size-xs);
    font-weight: 700;
}

#image-hero {
    width: 90%;
    height: 220px;
    border-radius: 20px;
    outline: solid 12px rgba(0, 0, 0, 0.05); /* Outline gris */
    margin: 24px 16px 0;
    object-fit: cover;
}

#popup-overlay {
    background-color: rgba(47, 47, 47, 0.4);
}

#popup {
    max-width: 692px;
}

.article-meta {
    position: absolute;
    top: 186px;
    left: 12px;
}

@media (min-width: 1024px) {
    header {
        display: flex;
        padding: var(--padding-spacing-20) var(--padding-spacing-40);
        background: var(--color-neutral-cream-100);
        justify-content: space-between;
        align-items: center;
    }

    .header-desktop {
        display: flex;
        align-items: center;
        gap: 32px;
        align-self: stretch;
    }

    .notre-mission {
        margin-top: 120px;
        margin-bottom: 100px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: var(--padding-spacing-24);
    }

    .notre-mission h3 {
        color: var(--color-neutral-carbon-100);
        font-family: var(--font-body), serif;
        font-size: var(--font-size-sm);
        font-weight: 600;
        line-height: 120%;
        text-transform: uppercase;
    }

    .notre-mission h2 {
        color: var(--color-neutral-carbon-100);
        text-align: center;
        font-family: var(--font-display), serif;
        font-size: var(--font-size-lg);
        font-weight: 600;
        line-height: 120%;
        width: 1104px;
    }

    .lien1:hover,
    .lien2:hover,
    .lien3:hover,
    .lien4:hover,
    .lien5:hover {
        border-radius: var(--corner-radius-8);
        background: var(--color-brand-primary-20);
    }

    .article-title {
        font-size: var(--font-size-sm);
        color: var(--color-neutral-carbon-100);
        font-family: var(--font-display), sans-serif;
        font-weight: 600;
    }
}

@media (max-width: 1024px) {
    header {
        padding: var(--valeurs-20px) var(--padding-spacing-16);
        background: var(--color-neutral-cream-100);
        justify-content: space-between;
        align-items: center;
    }

    .header-desktop {
        height: 24px;
        flex-shrink: 0;
    }

    .notre-mission {
        margin-top: 100px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .notre-mission h3 {
        color: var(--color-neutral-carbon-100);
        font-family: var(--font-body), serif;
        font-size: var(--font-size-2xs);
        font-weight: 600;
        line-height: 120%;
        text-transform: uppercase;
    }

    .notre-mission h2 {
        color: var(--color-neutral-carbon-100);
        text-align: center;
        font-family: var(--font-display), serif;
        font-size: var(--font-size-sm);
        font-weight: 600;
        line-height: 120%;
    }

    .article-title {
        font-size: var(--font-size-xs);
        color: var(--color-neutral-carbon-100);
        font-family: var(--font-display), sans-serif;
        font-weight: 600;
    }
}

@media (max-width: 1224px) {
    .cards {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

@media (min-width: 1224px) {
    .cards {
        display: flex;
        width: 1156px;
        align-items: flex-start;
        gap: 40px;
    }
}

.waitlist-btn:hover {
    background: var(--color-neutral-carbon-100);
}

.waitlist-btn {
    background: var(--color-brand-primary-100);
}

.en-savoir-plus-btn:hover {
    background: var(--color-neutral-carbon-100);
    color: var(--color-neutral-cream-100);
}


.h1-top {
    color: var(--color-neutral-carbon-100);
    font-family: var(--font-display), serif;
    font-size: 64px;
    font-weight: 800;
    line-height: 120%;
}

.p-top {
    color: var(--color-neutral-carbon-100);
    font-family: var(--font-body), serif;
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 140%;
}




#burger-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.menu-desktop {
    align-items: center;
    align-self: stretch;
}

.menu-desktop a {
    display: flex;
    padding: var(--padding-spacing-12) var(--padding-spacing-20);
    justify-content: center;
    align-items: center;
    gap: var(--padding-spacing-20);
    align-self: stretch;
    border-radius: var(--corner-radius-8);
    color: var(--color-neutral-carbon-100);
    font-family: var(--font-body), serif;
    font-size: var(--font-size-2xs);
    font-weight: 600;
    line-height: 140%;
}


.pagination-button:hover {
    border-radius: var(--Corner-radius-8, 8px);
    background: var(--Color-Neutral-Carbon-10, #EAEAEA);
    display: flex;
    padding: var(--Padding-Spacing-12, 12px) var(--Padding-Spacing-16, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--Padding-Spacing-20, 20px);
    color: var(--Color-Neutral-Carbon-100, #2F2F2F);
    font-family: var(--Font-Body, 'Plus Jakarta Sans');
    font-size: var(--Font-Size-XS, 20px);
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-decoration: none;
    transition: background 0.3s;
}
.pagination-button {
    border-radius: var(--Corner-radius-8, 8px);

    display: flex;
    padding: var(--Padding-Spacing-12, 12px) var(--Padding-Spacing-16, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--Padding-Spacing-20, 20px);
    color: var(--Color-Neutral-Carbon-100, #2F2F2F);
    font-family: var(--Font-Body, 'Plus Jakarta Sans');
    font-size: var(--Font-Size-XS, 20px);
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-decoration: none;
    transition: background 0.3s;
}
.pagination-button.current {
    border-radius: var(--Corner-radius-8, 8px);
    background: var(--Color-Neutral-Carbon-10, #EAEAEA);
    display: flex;
    padding: var(--Padding-Spacing-12, 12px) var(--Padding-Spacing-16, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--Padding-Spacing-20, 20px);
    color: var(--Color-Neutral-Carbon-100, #2F2F2F);
    font-family: var(--Font-Body, 'Plus Jakarta Sans');
    font-size: var(--Font-Size-XS, 20px);
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-decoration: none;
    transition: background 0.3s;
}
