<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - Smoozy</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Consultez les mentions légales de Smoozy pour tout savoir sur nos conditions d'utilisation et informations légales.">
    <meta name="author" content="Smoozy">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Mentions légales - Smoozy">
    <meta property="og:description" content="Consultez les mentions légales de Smoozy pour tout savoir sur nos conditions d'utilisation et informations légales.">
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://smoozy-app.com/">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://smoozy-app.com/">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DSKHG4RCJG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-DSKHG4RCJG');
    </script>

    <!-- Google Identity Services -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body>
<main>

    <section class="accueil-section">
      <svg class="register-logo" xmlns="http://www.w3.org/2000/svg" width="185" height="40" viewBox="0 0 185 40" fill="none">
                <!-- SVG Content -->
            </svg>

      <p>Connexion </p>

        <form class="register-fom-email"  onsubmit="handleLogin(event)">
          <label for="email">
            <span>Votre adresse email :</span>
            <input type="text" name="email" placeholder="Ex : email@gmail.com">
          </label>
          <label for="password">
            <span>Choississez un mot de passe :</span>
            <input type="password" name="password">
          </label>
          <div >
            <button>Se connecter</button>
          </div>
          <p id="message"></p>
        </form>
        <p class="register-p">Je me connecte via :</p>

        <div id="g_id_onload"
             data-client_id="152404122949-28cgi4vta9vreupt8m4armb4h0l886ck.apps.googleusercontent.com"
             data-context="signin"
             data-ux_mode="popup"
             data-login_uri="https://www.smoozy-app.com/login"
             data-auto_prompt="false">
        </div>
        <div class="g_id_signin"
             data-type="icon"
             data-shape="pill"
             data-theme="filled_black"
             data-size="small">
        </div>

    </section>

    <!-- Banniere des cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
        <button onclick="acceptCookies()">Accepter</button>
    </div>

</main>

<script src="../script.js"></script>
</body>
</html>
