<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Smoozy</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Consultez les mentions légales de Smoozy pour tout savoir sur nos conditions d'utilisation et informations légales.">
    <meta name="author" content="Smoozy">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Mentions légales - Smoozy">
    <meta property="og:description" content="Consultez les mentions légales de Smoozy pour tout savoir sur nos conditions d'utilisation et informations légales.">
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://smoozy-app.com/">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://smoozy-app.com/">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DSKHG4RCJG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-DSKHG4RCJG');
    </script>
</head>

<body>
<main>

    <section class="accueil-section">
      <svg class="register-logo" xmlns="http://www.w3.org/2000/svg" width="185" height="40" viewBox="0 0 185 40" fill="none">
                <g clip-path="url(#clip0_799_776)">
                    <path d="M41.5928 31.1124V5.6115H47.6988L47.7953 13.0967H48.757C49.205 11.2618 49.7978 9.73913 50.5355 8.53266C51.2732 7.32424 52.1711 6.42423 53.2274 5.82875C54.2856 5.23327 55.5195 4.93456 56.9292 4.93456C58.3389 4.93456 59.6288 5.24878 60.6078 5.87724C61.5849 6.50569 62.3632 7.42316 62.9405 8.62964C63.5179 9.83612 63.9022 11.3258 64.0953 13.0967H64.9121C65.4239 11.1978 66.0978 9.64409 66.932 8.43567C67.7643 7.22725 68.7588 6.34276 69.9136 5.77832C71.0683 5.21581 72.3177 4.93262 73.6637 4.93262C75.1061 4.93262 76.3633 5.21581 77.4389 5.77832C78.5125 6.34276 79.4104 7.17876 80.1307 8.2902C80.851 9.40163 81.3878 10.7866 81.7412 12.443C82.0927 14.1015 82.2703 16.0256 82.2703 18.2136V31.1085H74.4805V19.1795C74.4805 17.4726 74.3434 16.0567 74.0711 14.9297C73.7988 13.8028 73.374 12.9571 72.7966 12.3946C72.2192 11.832 71.4816 11.5489 70.5856 11.5489C69.5602 11.5489 68.6854 11.8864 67.9651 12.5633C67.2429 13.2402 66.6906 14.181 66.3064 15.3894C65.9221 16.5978 65.729 17.9575 65.729 19.4705V31.1105H58.1322V19.325C58.1322 17.5541 57.9797 16.1052 57.6746 14.9782C57.3695 13.8512 56.9215 12.9978 56.3286 12.4178C55.7358 11.8379 54.9904 11.5489 54.0925 11.5489C53.0671 11.5489 52.2001 11.8864 51.4952 12.5633C50.7904 13.2402 50.2516 14.181 49.8847 15.3894C49.5159 16.5978 49.3325 17.9575 49.3325 19.4705V31.1105H41.5909L41.5928 31.1124Z" fill="#2F2F2F" />
                    <path d="M96.1681 31.7894C93.6037 31.7894 91.3366 31.2889 89.365 30.292C87.3934 29.295 85.8466 27.7975 84.7247 25.7997C83.6028 23.8037 83.0408 21.3074 83.0408 18.3125C83.0408 15.3177 83.6008 12.831 84.7247 10.8506C85.8466 8.87017 87.4011 7.3902 89.3882 6.40678C91.3752 5.42531 93.6519 4.93457 96.2164 4.93457C98.7808 4.93457 101.056 5.43501 103.045 6.432C105.032 7.43093 106.586 8.91866 107.708 10.8991C108.83 12.8795 109.39 15.3661 109.39 18.361C109.39 21.3559 108.813 23.9473 107.66 25.9432C106.505 27.9391 104.927 29.4133 102.923 30.3618C100.918 31.3103 98.6669 31.7874 96.1681 31.7874V31.7894ZM96.4075 26.1372C97.5623 26.1372 98.524 25.8714 99.2925 25.34C100.061 24.8085 100.638 23.9958 101.023 22.9018C101.407 21.8078 101.6 20.4559 101.6 18.844C101.6 17.1371 101.392 15.6978 100.974 14.5204C100.557 13.345 99.9414 12.4431 99.1226 11.8165C98.3058 11.1881 97.2553 10.8739 95.9731 10.8739C94.882 10.8739 93.9455 11.1396 93.1595 11.6711C92.3736 12.2025 91.7885 13.0153 91.4042 14.1092C91.0199 15.2052 90.8268 16.5726 90.8268 18.2155C90.8268 20.8554 91.3154 22.8358 92.2925 24.1568C93.2696 25.4777 94.6406 26.1372 96.4037 26.1372H96.4075Z" fill="#2F2F2F" />
                    <path d="M123.286 31.7894C120.721 31.7894 118.454 31.2889 116.483 30.292C114.511 29.295 112.964 27.7975 111.842 25.7997C110.72 23.8037 110.159 21.3074 110.159 18.3125C110.159 15.3177 110.719 12.831 111.842 10.8506C112.964 8.87017 114.519 7.3902 116.506 6.40678C118.493 5.42531 120.77 4.93457 123.334 4.93457C125.898 4.93457 128.173 5.43501 130.162 6.432C132.149 7.43093 133.704 8.91866 134.826 10.8991C135.948 12.8795 136.508 15.3661 136.508 18.361C136.508 21.3559 135.93 23.9473 134.777 25.9432C133.623 27.9391 132.045 29.4133 130.041 30.3618C128.036 31.3103 125.785 31.7874 123.284 31.7874L123.286 31.7894ZM123.527 26.1372C124.682 26.1372 125.644 25.8714 126.412 25.34C127.181 24.8085 127.758 23.9958 128.142 22.9018C128.527 21.8078 128.72 20.4559 128.72 18.844C128.72 17.1371 128.511 15.6978 128.094 14.5204C127.677 13.345 127.061 12.4431 126.242 11.8165C125.425 11.1881 124.375 10.8739 123.093 10.8739C122.002 10.8739 121.065 11.1396 120.279 11.6711C119.493 12.2025 118.908 13.0153 118.524 14.1092C118.14 15.2052 117.946 16.5726 117.946 18.2155C117.946 20.8554 118.435 22.8358 119.412 24.1568C120.389 25.4777 121.76 26.1372 123.523 26.1372H123.527Z" fill="#2F2F2F" />
                    <path d="M137.375 31.1124V24.6397L149.973 12.5167V11.7932H137.664V5.61145H159.783V12.0357L147.088 24.2071V24.8841H159.925V31.1143H137.375V31.1124Z" fill="#2F2F2F" />
                    <path d="M170.888 40C169.606 40 168.291 39.8875 166.945 39.6625C165.599 39.4375 164.324 39.1077 163.121 38.6732C161.918 38.2387 160.885 37.6665 160.02 36.9585L161.895 30.0514C163.017 31.1143 164.371 31.9018 165.958 32.4178C167.545 32.9318 169.075 33.1898 170.55 33.1898C172.249 33.1898 173.651 32.86 174.758 32.2005C175.864 31.541 176.712 30.5266 177.307 29.1572C177.9 27.7897 178.245 26.0905 178.34 24.0616L178.581 19.8603H177.427C177.139 21.9532 176.633 23.6601 175.913 24.9791C175.19 26.3 174.277 27.2737 173.173 27.9003C172.068 28.5268 170.761 28.8429 169.254 28.8429C167.395 28.8429 165.84 28.3774 164.591 27.4425C163.342 26.5095 162.403 25.0994 161.777 23.2159C161.152 21.3325 160.839 18.9894 160.839 16.1885V5.61145H168.629V14.2566C168.629 17.2204 168.924 19.3366 169.519 20.6071C170.112 21.8795 171.048 22.5138 172.333 22.5138C173.006 22.5138 173.615 22.3198 174.159 21.9338C174.704 21.5478 175.169 21.0008 175.553 20.2909C175.938 19.5829 176.235 18.7217 176.444 17.7073C176.652 16.6928 176.757 15.5581 176.757 14.3031V5.61145H184.498V24.3507C184.498 26.3796 184.313 28.2319 183.946 29.9059C183.577 31.5798 183.032 33.0443 182.31 34.3012C181.59 35.5562 180.682 36.6113 179.593 37.4648C178.504 38.3183 177.237 38.9545 175.795 39.3734C174.352 39.7924 172.717 40.0019 170.89 40.0019L170.888 40Z" fill="#2F2F2F" />
                    <path d="M3.91378 8.04865L0.00109863 12.4028L5.81955 17.6781L9.73222 13.324L3.91378 8.04865Z" fill="#2F2F2F" />
                    <path d="M11.2839 -5.0884e-05L7.37122 4.35413L13.1897 9.62943L17.1023 5.27526L11.2839 -5.0884e-05Z" fill="#2F2F2F" />
                    <path d="M44.9818 14.3537C41.7589 13.0327 38.4143 12.3616 35.0273 12.35C34.7396 11.8185 34.4441 11.287 34.1448 10.7517C32.1404 7.15746 29.5702 3.85031 26.5056 0.92334L21.7687 1.99986C20.1447 6.25939 17.9819 10.2862 15.3422 13.9715C11.8509 18.8459 7.57359 23.0686 2.62817 26.5251L5.96309 31.3394C11.4531 27.5027 16.2034 22.8106 20.0829 17.397C22.0024 14.7164 23.692 11.8728 25.1384 8.90123L25.8336 8.83334C26.8763 10.1387 27.8187 11.5043 28.6548 12.9261C26.7682 13.3838 24.9298 14.2528 23.3213 15.9481C19.7257 19.7382 18.0592 25.6193 21.8324 29.5297C23.3966 31.1513 25.5188 31.7913 27.5812 31.7913C29.0237 31.7913 30.4391 31.4771 31.6093 30.967C34.5735 29.6752 36.6474 26.8956 37.4469 23.1385C37.8061 21.4471 37.7636 19.8779 37.4585 18.3765C39.2601 18.6035 41.0406 19.0748 42.7804 19.7867L44.9857 14.3556L44.9818 14.3537ZM28.902 25.7337C27.0038 26.4921 25.1538 24.6572 25.7776 22.704C26.4901 20.4733 29.0295 18.3164 31.4066 18.394C32.6927 20.8632 31.3081 24.7717 28.902 25.7337Z" fill="#2F2F2F" />
                </g>
                <defs>
                    <clipPath id="clip0_799_776">
                        <rect width="184.496" height="40" fill="white" />
                    </clipPath>
                </defs>
            </svg>

      <p>Création d’un compte </p>

        <form class="register-fom-email" onsubmit="handleSubmit(event)">
          <label for="pseudo">
            <span>Pseudonyme :</span>
            <input type="text" name="pseudo" placeholder="Ex : Mimie Mathy">
          </label>
          <label for="password">
            <span>Mot de passe :</span>
            <input type="text" name="password">
          </label>
          <div >
            <button>S'inscrire</button>
          </div>
        </form>
      <p id="message"></p>


    </section>

      <!-- Banniere des cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
        <button onclick="acceptCookies()">Accepter</button>
    </div>

</main>

<script src="../script.js"></script>
</body>
</html>